@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  font-family: "Poppins";
  font-size: 10px;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
}
:root {
  --clr: #fff;
  --font: "poppins", sans-serif;
}

body {
  background-color: #c9d5d0;
  color: var(--text-color);
  height: 100vh;
  box-sizing: border-box;
}
header {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #150303;
  background-color: #d1f1dceb;
}
.header ul {
  display: flex;
  list-style: none;
}
.header ul li {
  margin-right: 12px;
  cursor: pointer;
}
/* /* .container {
  padding-left: 100px;
  padding-right: 100px;
} */

.hamburger {
  display: none;
  cursor: pointer;
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;  
}
.hero_info {
  text-align: start;
  font-size: 20px;
}

.hero_info h1 {
  font-weight: bold;
  font-size: 30px;
  
  color: #150303;
  /* background-color: #008552; */
  text-align: start;
}
.Name {
  color: #150303;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
  /* background-color: wheat; */
}
.hero_info p {
  font-size: 15px;
  color: #150303;
  margin-top: 17px;
  margin-bottom: 20px;
  text-align: start;
}
.Hero_hire {
  padding: 20px 30px;
  border-radius: 7px;

  border: none;
  color: white;
  cursor: pointer;
  background-color: #150303;
}
.image {
  margin-left: 50px;
  margin-top: 20px;
}
.image img {
  background-color: white;
  border-radius: 100px;
}
.iconss{
  display: block;
  margin-bottom: 12px;
  
}
.iconss img{
  padding-right: 5px;
}
.hero_info img {
  /* margin-top: 20px;
  margin-bottom: 12px;
  margin-right: 7px; */
  cursor: pointer;
  color: black;
  height: 14px;
}
.menu img {
  height: 20px;
  margin-top: 3px;
  visibility: hidden;
}
section {
  margin-left: 15px;
  margin-right: 15px;
}
.section1 {
  padding-top: 170px;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  text-align: center;
  justify-content: center;
  flex: 1;
}

/* ********* my resume*********** */

.aboutme {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: start;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
}
.myself {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #172b4d;
  margin-top: 15px;
  margin-bottom: 24px;
  text-align: center;
  justify-content: center;
  /* background-colo: #cc4562;  */
}

.exp {
  font-size: 16px;
  color: #0a172e;
  text-align: center;
  justify-content: center;
  margin-bottom: 24px;

  justify-content: center;
  /* background-color: #344563;  */
}
.resume-button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 12px;
  background: #247f59;
  border-radius: 4px;
  align-items: center;
  align-self: center;
  text-decoration: none;
  margin-bottom: 15px;
}

.resume-button:hover {
  box-shadow: 0 8px 16px 0 #247f59;
}

.resume-button:active {
  background: #008552;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  /* margin-bottom: 40px; */
  margin-right: 15x;
  margin-left: 15px;
  flex: 1;
  justify-content: space-around;
}

.languages {
  height: 400px;
  min-width: 300px;
  max-width: 400px;
  background: #ebf0ee;
  border-radius: 8px;
  border: 1px solid #c1c7d0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-bottom: 24px;
}

.lang-icon {
  background-size: 80px 80px;
  padding: 16px;
  background-color: #fff;
  border-radius: 50%;
  margin-bottom: 64px;
  margin-top: 40px;
}

.lang-heading {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 24px;
  text-align: center;
  color: #344563;
}

.lang-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.langs-name {
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 12px;
  background: #fff;
  color: green;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
}

/* *****Responsivenesss */
/* 
@media screen and (max-width: 910px) {
  body {
    max-width: 910px;
    display: flex;
    flex-direction: column;
    background-color: #42526e;
  }
  .containergridbody{
 display: flex;
 flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  font-size: 40px;
  
}
.aboutme {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 50px;
  color: rgb(57, 72, 241);
  background-color: white;
  font-size: 30px;
}
.grid {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
  margin-right: 15px;
  margin-left: 15px;
   
}
 
  
#icons {
  text-align: start;
  margin-bottom: 20px;
  margin-left: 10px;
}
.contme {
  text-align: center;
  font-size: 30px;
}
}

 
@media screen and (max-width: 676px) {
  .menu img {
    visibility: visible;
    display: block;
    position: relative;
    left: 250px;
  }
  .header ul li {
    visibility: hidden;
  }
  

    .aboutme {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 30pxpx;
    margin-right: 20px;
    border-radius: 15px;
}  
}
@media screen and (max-width: 475px) {
  .image {
    margin-left: -10px;
    margin-top: 5px;
  }
  .image img {
    background-color: white;
    
    border-radius: 50%;
   float: right;
    width: 150%;
    height: 150%;
    margin-top: 3px;
   
 
  }
  .Hero_hire {
   padding: 12px 15px;
  border-radius: 7px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: none;
  color: rgb(144, 180, 240);
  cursor: pointer;
  border: solid 2px  #150303;
  padding-left: 30px;
  padding-right: 30px;
  text-align: start;
}

  .containergridbody{
 display: flex;
 flex-direction: column;
  width: 100%;
  height: 100vh;
  text-align: center;
  align-items: center;
  margin-top: 100px;
  font-size: 30px;
}
.Hero_welcome {
  font-weight: bold;
  font-size: 30px;
  color:#fff;
   text-align: center;
  margin-bottom: 10px;
}
.Hero_p{
  font-size: 23px;
}
.icons{
  text-align: start;
  width: 30px;
  height: 20px;
}


#icons {
  text-align: start;
  margin-bottom: 20px;
  margin-left: 10px;
  font-size: 10px;
}
.contme {
  text-align: start;
  font-size: 10px;
}
#contactme h2 {
  color: #000;
  font-family: var(--font);
  font-size: 20px;
  text-transform: capitalize;
}

.footere {
  background-color: #333;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  border-radius: 10px;
 width: 475px;
}
.contme {
  text-align: start;
  font-size: 10px;
  
}
.contme h4 {
  align-items: start;
  font-size: 10px;
  color: #000;
}
.links h4 {
  color: #000;
  font-size: 10px;
}
ul li {
  list-style: none;
  color: #fff;
  text-align: start;
}
ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 10px;
}}
 @media  screen and(max-width:247px) {
    .footere {
  background-color: #dc0f0f;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  border-radius: 10px;
  
  
} */

/* @media  screen and(max-width:768px) {
  .body{
    min-width: 768px;
    background-color: #008552;
  }
  .aboutme {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 50px;
  color: rgb(57, 72, 241);
  background-color: white;
  font-size: 40px;
}
} */

.container-section {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
  /* height: 40rem; */
  font-weight: bold;
  background-color: #cc4562;
}
.container {
  text-align: start;
}
.container p {
  text-align: start;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
}
.container span {
  font-size: 15px;
  opacity: 0.7;
}
.container h1 {
  text-transform: capitalize;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 30px;
}
/* #desc {
 
  font-size: 20px;
  margin-bottom: 20px;
  border: 2px solid rgb(8, 8, 20);
} */
/* .contact {
  height: 70px;
  display: flex;
  flex-direction: column;
  margin-bottom: 130px;
  font-size: 20px;
  border: 2px solid blue;
} */
/* #contact span {
  font-size: 20px;
  letter-spacing: 2px;
  opacity: 0.8;
} */
.contactme {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  width: 340px;
  height: auto;
  padding: 20px 15px;
  padding-bottom: 15px;
  display: grid;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.contactme input {
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1px;
  height: 30px;
  margin-bottom: 0.3rem;
  outline: none;
  color: black;
  font-family: var(--font);
}
.contactme textarea {
  height: 70px;
  width: 200px;
  background-color: whitesmoke;
  border: 1px solid black;
  border-radius: 5px;
  font-family: var(--font);
  color: black;
}
.contactme button {
  margin-top: 1rem;
  background-color: #f2d4a7;
  border-radius: 5px;
  border: none;
  font-size: 20px;
  text-transform: capitalize;
  color: white;
}
.contactme button:hover {
  background-color: #51e968;
  color: white;
  border: none;
  transition: 0.3s ease-in-out;
}
.contactme label {
  text-transform: capitalize;
  color: #000;
  font-size: large;
}
.contactme h2 {
  color: #000;
  font-family: var(--font);
  font-size: 23px;
  text-transform: capitalize;
}

.footere {
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: start;
  border-radius: 10px;
}
.contme {
  text-align: start;
  font-size: 18px;
}
.contme h4 {
  align-items: start;
  font-size: 24px;
  color: #000;
}
.links h4 {
  color: #000;
  font-size: 24px;
}
ul li {
  list-style: none;
  color: #fff;
  text-align: start;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
#icons {
  text-align: start;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 10px;
}
#icons h4 {
  color: #000;
  font-size: 14px;
  text-align: start;
}
#icons a {
  color: #fff;
}
#menu button {
  padding: 10px;
  border: solid #fff 2px;
  border-radius: 6px;
  margin: 18px;
}
#menu a {
  color: #000;
  text-decoration: none;
}
#copy {
  text-align: center;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .image {
    align-items: center;
    margin-left: -28px;
   }
   .image img {
    width: 190px;

   }
   .nav__list {
    position: fixed;
    left: -100%;
    top: 47px;
    gap: 0;
    display: flex;
    background-color: #191627;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: 0.3s;
   }

  .hamburger {
    display: block;
  }
  .hamburger.active  .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active  .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active  .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
/* @media screen and (max-width: 360px) {
  body{
    min-width: 360px;
    background-color: cadetblue;
  }
  .footere{

  background-color: #4a44fa;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  border-radius: 10px;
 
  padding-right: 40px;
  padding-left: 40px;
 
}
.container-section {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 45rem;
  margin-bottom: 100px;
}
#icons {
  text-align: start;
  margin-bottom: 20px;
  margin-left: 10px;
}
.contme {
  text-align: center;
  font-size: 10px;
}
} */
